BODY
{
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

BODY.mainpage
{
	background-color: #FFF1A6;
}

BODY.cars
{
	background-color: #CEDCA9;
}

.menubar
{
	background-color: #D9D9D9;
}

.body
{
	background-color: #FFFFFF;
	font-size: 0.8em;
	font-family: Verdana, Arial, Sans-Serif;
	vertical-align: top;
	padding: 6px;
}

h3 
{
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  color: #707070;
  margin: 6px 6px 12px 6px;
}

.body > p, .body > hr, .body > h4
{
  margin: 6px; 
}

.body-main
{
	width: 237px;
}

/** menu **/
TD.menubar
{
	vertical-align: top;
}

UL.menubar
{
	padding: 0px;
	margin: 0px 0px 0px 3px;
}	

.menu
{
	background-color: #C0C0C0;
	color: #FFFFFF;
	font-family: Arial, Sans-Serif;
	font-weight: bold;
	font-size: 14px;
	list-style-type: none;	
	margin-bottom: 4px;
	padding: 4px;
	cursor: pointer;
}

.menu-selected
{
	background-color: #FFFFFF;
	color: #C0C0C0;
}	

.submenu
{
	padding: 0px 0px 0px 20px;
	margin: 4px 0px 0px 0px;
}

.menuitem
{
	color: #FFFFFF;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	list-style-type: none;
}

.menuitem-selected
{
	font-weight: bold;
}

.menu-link
{
	text-decoration: none;
	color: #FFFFFF;	
}

.menu-link-selected
{
	color: #C0C0C0;
}

.car-section-link
{
	color: #595E22;
	text-decoration: none;
	font-weight: bold;
}

.car-section-link:hover
{
	text-decoration: underline;
}

.copyright
{
	font-size: 10px;
}

.musictable
{
	font-size: 12px;
}

td
{
	vertical-align: top;
}

.sidebar
{
	padding: 5px;
	vertical-align: bottom !important;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
}

.cars-sidebar
{
	vertical-align: top !important;
}

.sidebar-sections
{
	text-decoration: underline;
}

